<h2 class="mb-3">Contatos</h2>

  <div class="form-group">
    <input id="search" name="search" type="text" value="" (keyup)="onSearchChange($event)" placeholder="Pesquisar..." class="form-control"/>
  <button routerLink="/contatos/incluir" class="btn btn-success">Incluir</button>


<table class="table my-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <th scope="row">{{ contact.contactId }}</th>
      <td>{{ contact.name }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phone | mask: '(00) 00000-0000' }} </td>
    </tr>
  </tbody>
</table>
